.clipboardScreen{  
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 180px;
        
        color: var(--gray-300);
        
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 19px;
    img {
        position: absolute;
        bottom: 50px;
    }
}